<html>

<head>
  <meta charset="utf-8" />
  <title>🌻 flower wiki</title>
  <!-- font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/template.css">
</head>

<body>
  <ul id="navbar">
    <li><a href="/">🌼 지도 홈</a></li>
    <li style="float:right;"><a href="/add">🌎 장소 추가</a></li>
  </ul>
  <div id="current">현재위치</div>
  <div id="map" style="width:100vw;height:100vh;"></div>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=n6o1j5zf9t"></script>
  <script type="text/javascript" src="/javascripts/home.js"></script>
</body>

</html>