#select{
    position: absolute;
    z-index: 2;
    top:120px;
    left:13px;
}

.dropdown_menu{
    display:block
}

#select > button{
    border:0px;
    padding:11px;
}

.cluster{
    font-size:10px;
    border-radius:50%;
    color:white;
    text-align:center;
    font-weight:bold;
    background:rgba(135, 192, 61, 0.7);
}
